In [ ]:
#HANDLING MISSING DATA
import pandas as pd
data={
    "Name":["Ram","Kapil","Lalit","Ishan","Om"],
    "Age":[25,None,44,23,None],
    "Salary":[50000,60000,70000,None,None]
}
df=pd.DataFrame(data)
print("ORIGINAL DATA")
print(df)

print(df.isnull().sum())

df_drop=df.dropna()

print(df_drop)

df["Age"].fillna(df["Age"].mean(),inplace=True)
df["Salary"].fillna(df["Salary"].mean(),inplace=True)

print(df)

print(df.isnull().mean() * 100)

ORIGINAL DATA
    Name   Age   Salary
0    Ram  25.0  50000.0
1  Kapil   NaN  60000.0
2  Lalit  44.0  70000.0
3  Ishan  23.0      NaN
4     Om   NaN      NaN
Name      0
Age       2
Salary    2
dtype: int64
    Name   Age   Salary
0    Ram  25.0  50000.0
2  Lalit  44.0  70000.0
    Name        Age   Salary
0    Ram  25.000000  50000.0
1  Kapil  30.666667  60000.0
2  Lalit  44.000000  70000.0
3  Ishan  23.000000  60000.0
4     Om  30.666667  60000.0
Name      0.0
Age       0.0
Salary    0.0
dtype: float64

C:\Users\AADITYA PORWAL\AppData\Local\Temp\ipykernel_15304\3088220526.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)
C:\Users\AADITYA PORWAL\AppData\Local\Temp\ipykernel_15304\3088220526.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean(),inplace=True)

In [ ]:
#ENCODING VALUES
from sklearn.preprocessing import LabelEncoder
import pandas as pd 

df=pd.read_csv("sample_data.csv")

df_label=df.copy()

le=LabelEncoder()

df_label["Gender_Encoded"]=le.fit_transform(df_label["Gender"])
df_label["Passed_Encoded"]=le.fit_transform(df_label["Passed"])

"""print("\n Label Encoded Data")

print(df_label[["Name","Gender","Gender_Encoded","Passed","Passed_Encoded","City"]])"""

df_encoded=pd.get_dummies(df_label,columns=["City"])
print("\n One-Hot Encoded Data (City)")

print(df_encoded)

 One-Hot Encoded Data (City)
      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Bangalore  \
0     Aman    Male    Yes               1               1           False
1    Priya  Female    Yes               0               1           False
2    Rahul    Male     No               1               0            True
3   Anjali  Female    Yes               0               1           False
4     Ravi    Male    Yes               1               1           False
5    Meera  Female     No               0               0           False
6    Arjun    Male    Yes               1               1            True
7     Neha  Female    Yes               0               1           False
8    Imran    Male     No               1               0           False
9    Sneha  Female    Yes               0               1           False
10     Raj    Male    Yes               1               1           False
11   Divya  Female     No               0               0           False
12   Kabir    Male    Yes               1               1           False
13  Simran  Female    Yes               0               1            True
14   Karan    Male     No               1               0           False
15   Pooja  Female    Yes               0               1           False
16  Rakesh    Male    Yes               1               1           False
17    Isha  Female     No               0               0           False
18   Rohit    Male    Yes               1               1           False
19   Deepa  Female    Yes               0               1            True

    City_Chennai  City_Delhi  City_Mumbai
0          False        True        False
1          False       False         True
2          False       False        False
3          False       False         True
4          False        True        False
5           True       False        False
6          False       False        False
7          False        True        False
8           True       False        False
9          False       False         True
10          True       False        False
11         False        True        False
12         False       False         True
13         False       False        False
14         False        True        False
15         False       False         True
16          True       False        False
17         False        True        False
18         False        True        False
19         False       False        False

In [ ]:
#FEATURE SCALING SYNTAX
from sklearn.preprocessing import StandardScaler,MinMaxScaler

scaler=StandardScaler()

X_scaled=scaler.fit_transform()

scaler= MinMaxScaler()

X_scaled=scaler.fit_transform()

In [34]:
#FEATURE SCALING
import pandas as pd 
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split

data={
    "StudyHours":[1,2,3,4,5],
    "TestScore":[40,50,60,70,80]
}

df=pd.DataFrame(data)

standard_scaler=StandardScaler()
standard_scaled=standard_scaler.fit_transform(df)
print("StandardScaler OUTPUT")
print(pd.DataFrame(standard_scaled,columns=["StudyHours","TestScore"]))



minmax_scaler=MinMaxScaler()
minmax_scaleddf=minmax_scaler.fit_transform(df)
print("MinMaxScaler OUTPUT")
print(pd.DataFrame(minmax_scaleddf,columns=["StudyHours","TestScore"]))

#TESTING
X=df[["StudyHours"]]
y=df[["TestScore"]]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
print("TRAINING DATA")
print(X_train)

print("TEST DATA")
print(X_test)

StandardScaler OUTPUT
   StudyHours  TestScore
0   -1.414214  -1.414214
1   -0.707107  -0.707107
2    0.000000   0.000000
3    0.707107   0.707107
4    1.414214   1.414214
MinMaxScaler OUTPUT
   StudyHours  TestScore
0        0.00       0.00
1        0.25       0.25
2        0.50       0.50
3        0.75       0.75
4        1.00       1.00
TRAINING DATA
   StudyHours
4           5
2           3
0           1
3           4
TEST DATA
   StudyHours
1           2