In [3]:
import numpy as np
import pandas as pd
from seaborn import load_dataset

tips=load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [1]:
#ONE HOT ENCODING
from sklearn.preprocessing import OneHotEncoder

In [15]:
enc=OneHotEncoder()
tra_array=enc.fit_transform(tips[["sex","smoker","day","time"]])
enc.categories_

[array(['Female', 'Male'], dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['Fri', 'Sat', 'Sun', 'Thur'], dtype=object),
 array(['Dinner', 'Lunch'], dtype=object)]

In [16]:
transformed=pd.DataFrame(tra_array.toarray(),columns=enc.get_feature_names_out())
transformed.head()

,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [17]:
enc_tips=pd.concat([tips,transformed],axis=1)

In [18]:
enc_tips.head()

,total_bill,tip,sex,smoker,day,time,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,16.99,1.01,Female,No,Sun,Dinner,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,10.34,1.66,Male,No,Sun,Dinner,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,21.01,3.50,Male,No,Sun,Dinner,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,23.68,3.31,Male,No,Sun,Dinner,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,24.59,3.61,Female,No,Sun,Dinner,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [19]:
enc_tips.drop(['sex','smoker','day','time','sex_Male','smoker_Yes','time_Lunch'],axis=1,inplace=True)

In [20]:
enc_tips.head()

,total_bill,tip,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner
0,16.99,1.01,2,1.0,1.0,0.0,0.0,1.0,0.0,1.0
1,10.34,1.66,3,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,21.01,3.50,3,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,23.68,3.31,2,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,24.59,3.61,4,1.0,1.0,0.0,0.0,1.0,0.0,1.0

In [21]:
enc_tips.to_csv("cleaned_tips.csv",index=True)

In [22]:
#CROSS VALIDATION

In [41]:
X=enc_tips.drop(['tip'],axis=1)
y=enc_tips[['tip']]

In [42]:
from sklearn.model_selection import cross_validate 

from sklearn.linear_model import LinearRegression

In [43]:
lin_reg=LinearRegression()

In [44]:
result=cross_validate(lin_reg,X,y,cv=5,scoring='neg_mean_squared_error')

In [46]:
result['test_score']

array([-0.79379953, -0.65897166, -0.86707796, -1.90620955, -1.40034021])

In [48]:
mean_test_score=-np.mean(result['test_score'])
mean_test_score

np.float64(1.125279779569277)